In [1]:
# NIM/Nama  : 16520299/Malik Akbar Hashemi Rafsanjani
# Tanggal   : 16 Desember 2020
# Deskripsi : Diberikan data mata uang digital (cryptocurrency) pada file data "cryto.csv", 
#             lalu program akan menampilkan beberapa analisis dari data tersebut.

## Membaca Data

In [11]:
# Import library pandas
import pandas as pd

df = pd.read_csv("crypto.csv")

## Mengakses Data

In [5]:
# Jawaban 1
# Banyaknya data

print(len(df))

8219

In [6]:
# Jawaban 2
# 5 data pertama

df[:5]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,BTC,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,BTC,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,BTC,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,BTC,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,BTC,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [8]:
# Jawaban 3
# Data ke 406 sampai 410 (inklusif)

df[405:410]

,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
405,BTC,2014-06-07,1,653.52,656.94,644.91,654.97,15855300.0,8.428207e+09,0.8362,12.03
406,BTC,2014-06-08,1,654.99,658.88,653.47,656.14,8614190.0,8.445490e+09,0.4935,5.41
407,BTC,2014-06-09,1,655.64,657.70,644.39,649.16,19065400.0,8.358149e+09,0.3584,13.31
408,BTC,2014-06-10,1,650.04,659.61,646.56,653.15,17913400.0,8.412294e+09,0.5050,13.05
409,BTC,2014-06-11,1,653.19,657.04,632.55,633.02,25163800.0,8.155307e+09,0.0192,24.49

In [9]:
# Jawaban 4
# Jumlah data masing-masing koin

df["name"].value_counts()

BTC     2042
XRP     1944
XMR     1653
USDT    1369
ETH     1211
Name: name, dtype: int64

In [10]:
# Jawaban 5
# Nilai korelasi antara nilai volume dan nilai close_ratio

print("Nilai korelasi antara nilai volume dan nilai close_ratio adalah " + str(df["volume"].corr(df["close_ratio"])))

# Karena nilai korelasi sekitar 0,07 dan mendekati 0, maka nilai volume dan nilai close_ratio 
# tidak berkorelasi (korelasi lurus tetapi sangat kecil/lemah)

Nilai korelasi antara nilai volume dan nilai close_ratio adalah 0.06928981923659848