In [ ]:
# NIM/Nama  : 16520299/Malik Akbar Hashemi Rafsanjani
# Tanggal   : 13 Desember 2020
# Deskripsi : Program disediakan file data "nilai_uas.csv" lalu program menampilkan analisis dari data tersebut

## **Membaca Data**

In [31]:
# Mengimport library pandas
import pandas as pd

df = pd.read_csv("nilai_uas.csv")

## **Mengakses Data**

In [21]:
# Menampilkan nilai kalkulus, fisika, dan kimia milik Tuan Mor
df.loc[df["nama"] == "Tuan Mor"].drop(columns="fakultas")

         nama  nilai_kal  nilai_fis  nilai_kim
391  Tuan Mor      94.76       67.5      24.82

In [23]:
# Mahasiswa dengan nilai fisika tertinggi
df.loc[df["nilai_fis"] == df["nilai_fis"].max()]

             nama fakultas  nilai_kal  nilai_fis  nilai_kim
250  Cahyani Mora     FSRD      100.0      100.0      79.55

In [25]:
# 10 mahasiswa dengan nilai kimia tertinggi
df.sort_values(["nilai_kim"], ascending=False)[:10]

                  nama fakultas  nilai_kal  nilai_fis  nilai_kim
3074  Muhammadi Jumhur     FTSL      35.56      39.49      88.38
640         Grace Yoga     FTTM      42.24      48.16      86.26
18      Maria Manurung     FTMD      56.86      58.83      86.26
3469        Dhiya Wafa      SBM      68.89      76.51      85.73
661          Rasyid FH     FSRD      77.78      77.89      85.26
1884       Sukma Ulhaq     FITB      43.97      44.91      85.26
780       Rizam Rayhan     FSRD      72.15      71.38      85.07
283   WIJAYANTI Amadio    SITHS      61.96      57.73      85.07
3017     Jevon Tangguh    FMIPA      50.42      48.15      84.92
2487       Ediva zilva    SITHR      65.04      69.31      84.87

In [28]:
# Banyaknya nilai kalkulus di bawah 50
print("Banyaknya nilai kalkulus di bawah 50 adalah " + str(len(df.loc[df["nilai_kal"] < 50])))

Banyaknya nilai kalkulus di bawah 50 adalah 1549

In [29]:
# Banyaknya mahasiswa FMIPA
print("Banyaknya mahasiswa FMIPA adalah " + str(len(df.loc[df["fakultas"] == "FMIPA"])))

Banyaknya mahasiswa FMIPA adalah 396